body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.home-btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: 20% !important;
    height: 1% !important;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.product-card img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    text-align: -moz-left;
    margin-top: 20px;
}

.description {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.product-image img {
    width: 50%;
    height: 50%;
    max-width: none;
}

.product-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 20px;
}

main a{
    color: #000 !important;
    text-decoration: none
}