
<!DOCTYPE HTML>
<html>
<head>
    <title>HOME</title>
</head>
<header>
    <h1><a href="home" align="center"> HOME </a></h1>
    <br><br>
</header>
<body>

<ul>
    <ul>
        <li>
            <a href="product">
                <div class="card">
                    <h1>Iphone</h1>
                    <p class="price">$750</p>
                    <p>The iPhone 15 display has rounded corners that follow a beautiful curved design</p>
                    <p><button>Add to Cart</button></p>
                </div>
            </a>
        </li>
    </ul>
</ul>

</body>
</html>
